@import "../../responsive.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    font-weight: 400;
    font-size: 24px;
  }
  
  .top {
    input {
      width: 100%;
    }
  }
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    button {
      width: 100px;
      padding: 10px;
      border: none;
      cursor: pointer;
      background-color: #fece51;
      border-radius: 10px;
      .search{
        height: 24px;
        width: 24px;
      }
    }
  }
}
